* {
    color: rgb(255,183,197);
    box-sizing: border-box;
    margin: 10px;
}

a {
    margin: 5px;
}
.headers{
    font-size: 50px;
    font-weight: bold;
    
}

h2{
    font-weight: bolder;
}
#rice_img{
    width: 25%;
}

#oats_img{
    width: 25%;
}

body{
    background-color: rgb(67,70,75);
}